/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
      @content;
    }
  }
  
  @mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
      @content;
    }
  }
  
  @mixin for-normal-layout {
    @media (min-width: $break-normal) {
      @content;
    }
  }
  
  @mixin for-wide-layout {
    @media (min-width: $break-wide) {
      @content;
    }
  }
  
  @mixin layoutGTC($max) {
    grid-template-columns:
      minmax($layoutPadding, 1fr)
      minmax(auto, $max)
      minmax($layoutPadding, 1fr);
  }

  @mixin main-layout($first-column-size, $second-column-size, $third-column-size) {
    display: grid;
    grid-template-columns:
        $first-column-size $second-column-size $third-column-size;

    >*:not(.full) {
        grid-column: 2;
    }

    >*.full {
        grid-column: 1 /-1;
    }
}
  